<input type="hidden" id="user-id" value="<%= @user.id%>">
<div>
  <p>Hello, <%= @user.id %>!</p>
  <span id='who-moves'><%= @turn ? 'Your turn' : 'Other user turn' %></span>
</div>

<br/>

<table id='editable-row' border="1" style="width: 800px;">
  <tr>
    <td id='editable-0' contenteditable=<%= @turn.to_s %>>[]</td>
    <td id='editable-1' contenteditable=<%= @turn.to_s %>>[]</td>
    <td id='editable-2' contenteditable=<%= @turn.to_s %>>[]</td>
    <td id='editable-3' contenteditable=<%= @turn.to_s %>>[]</td>
    <td id='editable-4' contenteditable=<%= @turn.to_s %>>[]</td>
    <td id='editable-5' contenteditable=<%= @turn.to_s %>>[]</td>
    <td id='editable-6' contenteditable=<%= @turn.to_s %>>[]</td>
  </tr>
</table>

<br/>

<table id="table-game" border="1" style="width: 800px;">
  <% @game.board.matrix.each_with_index do |row, index_row| %>
    <tr>
      <% row.each_with_index do |column, index_column| %>
        <td id="cell-<%= [index_row, index_column].join('-') %>"><%= column %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<span id='message'>Message: </span>
<br/><br/>
<span id='restart' hidden="true">
  <%= link_to 'Restart', game_restart_path(1) %>
</span>